/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
body{
    width: 100%;
    height: 100vh;
    background: url('https://i.pinimg.com/736x/bb/3d/02/bb3d027efc8586606821a1c60c10a986.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 7vh;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 30px;
    margin-left: 10px;
}



/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}

@media (min-width: 768px) {
    .images_file{
        padding: ;
        border: 20px solid red;
    }
    img{
        width: 20%;
    }
}




button{
    padding: 10px 20px;
    border: 0;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 10px 20px;
}
.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}
.images_file{
    width: 100%;
}
/* img{
    width: 60%;
} */
.dark{
    padding: 20px 40px;
    border: 2px solid #fff;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width: 90%;
    padding: 2% 10%;
}

.footer{
    bottom: -35.9em;
    position: absolute;
    width: 100%;
    border: #000 solid;
    text-align: center;
}
.main{
    position: relative;
}